:root {
  --evaa-body-base-font-family: "Inter", Helvetica;
  --evaa-body-base-font-size: 16px;
  --evaa-body-base-font-style: normal;
  --evaa-body-base-font-weight: 400;
  --evaa-body-base-letter-spacing: 0px;
  --evaa-body-base-line-height: 139.9999976158142%;
  --evaa-input-body-text-font-family: "Inter", Helvetica;
  --evaa-input-body-text-font-size: 16px;
  --evaa-input-body-text-font-style: normal;
  --evaa-input-body-text-font-weight: 400;
  --evaa-input-body-text-letter-spacing: 0px;
  --evaa-input-body-text-line-height: 139.9999976158142%;
  --evaafont-1-font-family: "Inter", Helvetica;
  --evaafont-1-font-size: 16px;
  --evaafont-1-font-style: normal;
  --evaafont-1-font-weight: 400;
  --evaafont-1-letter-spacing: 0px;
  --evaafont-1-line-height: 139.9999976158142%;
  --label-font-family: "Wix Madefor Display", Helvetica;
  --label-font-size: 17px;
  --label-font-style: normal;
  --label-font-weight: 500;
  --label-letter-spacing: 0px;
  --label-line-height: 100%;
  --text-font-family: "WindSong", Helvetica;
  --text-font-size: 17px;
  --text-font-style: normal;
  --text-font-weight: 500;
  --text-letter-spacing: 0px;
  --text-line-height: 100%;
}
